
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #72ea7c; 
    color: #2e7d32; 
}


.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #66bb6a; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; 
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 10px;
}


.menu {
    padding: 20px;
    text-align: center;
}

.menu h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}



.menu-item {
    background-color: #fff;
    border: 1px solid #c8e6c9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.menu-item p {
    margin: 0;
    font-size: 1em;
}




   
    
    .card-body img {
        width: 100%; 
        margin-bottom: 10px; 
    }





